#sound {
    margin-left: 90%;
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 2;
  }
  
  .sound-cloud {
    font-size: 1.2rem;
    margin: 7px;
    color: #7839A9;
  }
  
  .off-on {
    cursor: pointer;
    margin-left: 5px;
  }
  
  #off {
    color: #7839A9;
  }
  
  #on {
    display: none;
    color: #08fdd8;
  }
  
